.Phonetic span{
padding-right: 10px;
}

.Phonetic img{
    margin-right: 10px;
    width: 25px;
    transition: all 100ms ease-in-out;
}

.Phonetic img:hover{
    width: 30px;
    cursor: pointer;
    color:
}
